body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:144px;
  width:1670px;
  height:972px;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:972px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1638px;
  height:1296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1638px;
  height:1296px;
  display:flex;
  opacity:0;
  transition:none;
  transform-origin:50% 50%;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:144px;
  background:inherit;
  background-color:rgba(19, 25, 33, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:144px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:279px;
  width:362px;
  height:367px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  text-align:left;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:551px;
  width:362px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  text-align:left;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:292px;
  width:320px;
  height:247px;
  display:flex;
  transition:none;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:247px;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:279px;
  width:362px;
  height:367px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:551px;
  width:362px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  text-align:left;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:292px;
  width:328px;
  height:247px;
  display:flex;
  transition:none;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:247px;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:279px;
  width:362px;
  height:367px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:551px;
  width:362px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  text-align:left;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:292px;
  width:338px;
  height:247px;
  display:flex;
  transition:none;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:247px;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:215px;
  width:362px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:215px;
  width:362px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:215px;
  width:362px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:215px;
  width:362px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#F2F2F2;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:315px;
  height:81px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#F2F2F2;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:63px;
  background:inherit;
  background-color:rgba(35, 47, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:2560px;
  height:63px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:279px;
  width:362px;
  height:367px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:551px;
  width:362px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  text-align:left;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:437px;
  width:162px;
  height:102px;
  display:flex;
  transition:none;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:102px;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:303px;
  width:162px;
  height:116px;
  display:flex;
  transition:none;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:116px;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:437px;
  width:162px;
  height:102px;
  display:flex;
  transition:none;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:102px;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:303px;
  width:162px;
  height:116px;
  display:flex;
  transition:none;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:116px;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 47, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 47, 62, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:93px;
  width:103px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#FFFFFF;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 47, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 47, 62, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
  color:#FFFFFF;
  text-align:right;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:93px;
  width:91px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
  color:#FFFFFF;
  text-align:right;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:93px;
  width:46px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:109px;
  width:46px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:125px;
  width:46px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:240px;
  background:inherit;
  background-color:rgba(35, 47, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:2560px;
  height:240px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:84px;
  background:inherit;
  background-color:rgba(55, 71, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1116px;
  width:2560px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#FFFFFF;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1215px;
  width:238px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1265px;
  width:525px;
  height:106px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:181px;
  height:509px;
}
#u39_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:509px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:509px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:77px;
  display:flex;
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:77px;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:181px;
  height:126px;
  display:flex;
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:126px;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:181px;
  height:90px;
  display:flex;
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:90px;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:181px;
  height:94px;
  display:flex;
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:94px;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:388px;
  width:181px;
  height:124px;
  display:flex;
  transition:none;
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:124px;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u46_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u46_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u46_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:93px;
  width:1544px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u46.hint {
}
#u46_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u46.disabled {
}
#u46_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u46.hint.disabled {
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/page_1/u47_div.png');
  background-repeat:no-repeat;
  background-size:43px 44px;
  background-position: -0.5px -5.0px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2052px;
  top:93px;
  width:44px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:656px;
  width:1591px;
  height:460px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:94px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:94px;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:0px;
  width:545px;
  height:94px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:94px;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:0px;
  width:595px;
  height:94px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:94px;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:451px;
  height:75px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:75px;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:94px;
  width:545px;
  height:75px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:75px;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:94px;
  width:595px;
  height:75px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:75px;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:451px;
  height:75px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:75px;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:169px;
  width:545px;
  height:75px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:75px;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:169px;
  width:595px;
  height:75px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:75px;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:451px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:244px;
  width:545px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:72px;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:244px;
  width:595px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:72px;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:451px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:316px;
  width:545px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:72px;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:316px;
  width:595px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:72px;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:388px;
  width:451px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:388px;
  width:545px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:72px;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:388px;
  width:595px;
  height:72px;
  display:flex;
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:72px;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
